*{
    font-size: 20px;
    font-family: "Times New Roman", sans-serif;
    box-sizing: content-box;
}

#title{
    font-size: 60px;
    color: red;
    text-align: center;
}

.recipe-list{
    list-style-type: none;
    color: red;
    background: yellow;
    display: block;
    margin: 25px auto;
    padding: 25px 12px;
    height: 150px;
    width: 400px;
}

.button{
    object-position: center;
    text-decoration-line: none;
    border: none;
    padding: 20px;
    background-color: lightblue;
    border-radius: 300px;
    text-align:center;
    font-size: 16px;
}

/*This is the chicken parm section*/
.chicken-parm{
    background-color: beige;
    border: 3px solid red;
}






/*This is the burrito bowl section*/